<app-server-status></app-server-status>
<form [formGroup]="reportForm" class="flex flex-col items-center">
  <div class="flex w-80 justify-center py-2 bo border-b-2 border-b-slate-400">
    <input
      type="file"
      accept=".csv"
      class="hidden"
      (change)="onFileSelected($event)"
      #fileUploadFbo
      name="fbo"
    />
    <div class="flex w-full flex-col">
      <label for="upload-btn-fbo"
        >Select
        <span class="font-medium text-base">FBO csv</span>
        file</label
      >
      <div class="flex justify-between items-center">
        <span class="text-xl max-w-52 overflow-hidden text-ellipsis">
          {{
            this.registerFormControl.fbo.value?.name || 'No file uploaded yet.'
          }}
        </span>
        <button
          mat-mini-fab
          color="primary"
          (click)="fileUploadFbo.click()"
          id="upload-btn-fbo"
          [disabled]="this.reportForm.disabled"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="flex w-80 justify-center py-2 bo border-b-2 border-b-slate-400">
    <input
      type="file"
      accept=".csv"
      class="hidden"
      (change)="onFileSelected($event)"
      #fileUploadFbs
      name="fbs"
    />

    <div class="flex w-full flex-col">
      <label for="upload-btn-fbs"
        >Select <span class="font-medium text-base">FBS csv</span> file</label
      >
      <div class="flex justify-between items-center">
        <span class="text-xl max-w-52 overflow-hidden text-ellipsis">
          {{
            this.registerFormControl.fbs.value?.name || 'No file uploaded yet.'
          }}
        </span>
        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUploadFbs.click()"
          id="upload-btn-fbs"
          [disabled]="this.reportForm.disabled"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="flex w-80 justify-center py-2 bo border-b-2 border-b-slate-400">
    <input
      type="file"
      accept=".xlsx"
      class="hidden"
      (change)="onFileSelected($event)"
      #fileUploadReport
      name="realizationReport"
    />

    <div class="flex w-full flex-col">
      <label for="upload-btn-realization-report"
        >Select
        <span class="font-medium text-base">Realization report xlsx</span>
        file</label
      >
      <div class="flex justify-between items-center">
        <span class="text-xl max-w-52 overflow-hidden text-ellipsis">
          {{
            this.registerFormControl.realizationReport.value?.name ||
              'No file uploaded yet.'
          }}</span
        >
        <button
          mat-mini-fab
          color="primary"
          (click)="fileUploadReport.click()"
          id="upload-btn-realization-report"
          [disabled]="this.reportForm.disabled"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <app-datepicker [date]="this.reportForm.controls.reportDate"></app-datepicker>
  <app-select-country
    [countries]="this.reportForm.controls.countries"
    [countryList]="this.countryList"
  ></app-select-country>
  <div class="flex relative">
    <button
      mat-raised-button
      type="submit"
      class="flex my-6 w-80 h-12 uppercase"
      (click)="send()"
      [disabled]="!reportForm.valid || reportForm.disabled"
    >
      send</button
    ><mat-spinner
      *ngIf="reportForm.disabled"
      diameter="30"
      class="flex absolute top-8 left-36"
    ></mat-spinner>
  </div>
</form>
