<div class="container">
  <app-server-status></app-server-status>
  <div class="upload-file">
    <input
      type="file"
      accept=".csv"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUploadFbo
      name="fbo"
    />

    <div class="file-upload">
      <label class="file-upload__title" for="upload-btn"
        >Select <span class="file-upload__extension">FBO csv</span> file</label
      >
      <div class="file-upload__select-file">
        <span class="file-upload__file-name">
          {{ fbo?.name || 'No file uploaded yet.' }}</span
        >
        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUploadFbo.click()"
          id="upload-btn"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="upload-file">
    <input
      type="file"
      accept=".csv"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUploadFbs
      name="fbs"
    />

    <div class="file-upload">
      <label class="file-upload__title" for="upload-btn"
        >Select <span class="file-upload__extension">FBS csv</span> file</label
      >
      <div class="file-upload__select-file">
        <span class="file-upload__file-name">
          {{ fbs?.name || 'No file uploaded yet.' }}</span
        >
        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUploadFbs.click()"
          id="upload-btn"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="upload-file">
    <input
      type="file"
      accept=".xlsx"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUploadReport
      name="realizationReport"
    />

    <div class="file-upload">
      <label class="file-upload__title" for="upload-btn"
        >Select
        <span class="file-upload__extension">Realization report xlsx</span>
        file</label
      >
      <div class="file-upload__select-file">
        <span class="file-upload__file-name">
          {{ realizationReport?.name || 'No file uploaded yet.' }}</span
        >
        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUploadReport.click()"
          id="upload-btn"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <app-datepicker (selectedDate)="onSelectedDate($event)"></app-datepicker>

  <button mat-raised-button class="send" (click)="send()" [disabled]="disabled">
    send<mat-spinner
      *ngIf="status === 'pending'"
      diameter="30"
      class="spinner"
    ></mat-spinner>
  </button>
</div>
